<h3>
    <a [routerLink] = "['/program']">
        < Come Back
    </a>
</h3>
<ng-container *ngIf="isFound">
    <section  class = "program-details">
        <h1>
            {{lecture.title}}
        </h1>
        <h3>
            {{lecture.lecturer}}
        </h3>
        <section>
            <p>
                {{lecture.guests}}
            </p>
            <p>
                {{lecture.day}} | {{lecture.time.getHours()+":"+ lecture.time.getMinutes()}} | {{lecture.room}}

            </p>
            <p>
                {{lecture.guests}}
            </p>
            
            <section>
                <p>
                    {{lecture.description}}
                </p>
            </section>
        </section>
    </section>
</ng-container>


<ng-container *ngIf = "!isFound">
    <h3>
        Error 404
    </h3>
    <p> 
        lecture was not found
    </p>
</ng-container>