
.building{
    fill:#c9c92e;
}
.building:hover{
    fill:blueviolet;
    cursor:pointer;
}
.building:active{
    fill: #c9c92e;
}
.current{
    fill:darkmagenta;
}

@media (max-width: 800px) {
    .building:hover{
        fill: #c9c92e;
    }
    .building:active{
        fill: blue;
    }
    .current:hover{
        fill:darkmagenta;
        
    }
    svg, .main-map{
        width:100%; 
        height: auto;
    }

}

