.group-row> tr ,td{
    border-radius: 5px;
}


.program-table> tbody .program-row:nth-child(odd){
    background-color: #f0f0f0;
}
.program-table>thead{
    background-color: #c5c600;
}
.program-lecturer, .program-more, .program-time, .program-room, .program-title{
    border-radius: 0;
}


.program-table{
    border-collapse: collapse;
}

.group-row{
    background-color: #442b4e;
    color: white;
    text-align: center;
}
a:link{
    text-decoration:none;
    text-emphasis-color:#442b4e;
}
a:visited{
    text-decoration: none;
    text-emphasis-color:#442b4e;
}

.program-more{
    text-align: center;
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .program-lecturer{
        display:none;
    }
  }